.resort-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0 1rem;
  }

.resort-card {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
    position: relative;
}

.resort-card img {
    width: 100% !important;
   height: 200px !important;
    object-fit: cover !important;
    border-radius: 8px;
}

.resort-card h2 {
    margin: 0.75rem 0;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.reservation-link {
  text-decoration: none !important;
  color: inherit !important;
}


.favorite-button {
    background-color: var(--deep-teal);
    color: var(--pure-white);
    border: none;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: space-around;
}

.favorite-button:hover {
    background-color: var(--muted-sage);
}

@media (max-width: 768px) {
    .resort-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .resort-grid {
      grid-template-columns: 1fr;
    }
  }