.reservations-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
  }
  
  .reservation-card {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 1rem;
    width: 300px; 
    color: var(--pure-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .reservation-card img {
    width: 90%;       
    max-width: 250px;  
    height: auto;     
    object-fit: contain;    
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .reservation-card h3 {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    color: var(--warm-sand);
    text-align: center;
  }
  
  .reservation-card p {
    margin: 0.3rem 0;
    font-size: 1rem;
  }

  .reservation-actions {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  .reservation-link {
    text-decoration: none!important;
    color: inherit!important;
  }

  .edit-button {
    background-color: var(--deep-teal);
    color: var(--pure-white);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-right: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
  }

  .cancel-button {
    background-color: #c0392b;
    color: var(--pure-white);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
  }

    .edit-button:hover {
        background-color: var(--muted-sage);
        color: var(--deep-teal);
    }

    .cancel-button:hover {
        background-color: #e74c3c;
        color: var(--deep-teal);
    }

  @media (max-width: 768px) {
    .resort-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .resort-grid {
      grid-template-columns: 1fr;
    }
  }