{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}
<h1>Home page</h1>
<hr />
<p class="page-content"></p>
{% if user.is_authenticated %}
<section class="resorts-preview">
  <h2>Book Your Next Vacation</h2>
<div class="resort-grid">
  {% for resort in resorts %}
<div class="resort-card">
  <a href="{% url 'resort-detail' resort.id %}">
    {% if resort.image == "N/A" %}
      <img src="{% static 'images/default-image.jpg' %}" alt="{{ resort.name }}">
    {% else %}
      <img src="{{ resort.image }}" alt="{{ resort.name }}">
    {% endif %}
    <h2>{{ resort.name }}</h2>
  </a>
  <p>Location: {{ resort.location }}</p>
  <button class="favorite-button">Favorite</button>
</div>

  {% endfor %}
</div>
</section>
{% else %}
<section>
  <form
    action="{% url 'home' %}"
    method="post"
    class="login"
    style="
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.3);
    "
  >
    <h1>Login</h1>
    {% csrf_token %} {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% endif %} {% endblock %}