{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/resorts/resorts_page.css' %}" />
{% endblock %}

{% block content %}
<h2>Resorts</h2>
<hr />
<p class="page-content"></p>

<div class="resort-grid">
  {% for resort in resorts %}
  <div class="resort-card">
    <a href="{% url 'resort-detail' resort.id %}">
      {% if resort.image == "N/A" %}
      <img src="{% static 'images/default-image.jpg' %}" alt="{{ resort.name }}" />
      {% else %}
      <img src="{{ resort.image }}" alt="{{ resort.name }}" />
      {% endif %}
      <h2>{{ resort.name }}</h2>
    </a>
    <p>Location: {{ resort.location }}</p>
    {% if user.is_authenticated %}
      {% if user in resort.favorited_by.all %}
      <form action="{% url 'remove-favorite' resort.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="favorite-button">Unfavorite</button>
      </form>
      {% else %}
      <form action="{% url 'add-favorite' resort.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="favorite-button">Favorite</button>
      </form>
      {% endif %}
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}