{% extends 'base.html' %} {% block content %}
<h1>Resorts Page</h1>
<hr />
<p class="page-content">This page displays all resorts for the user to see</p>

<ul>
  {% for resort in resorts %}
  <li>
    <h2>{{ resort.name }}</h2>
    {% if resort.image == "N/A" %}
    <img src="../static/images/default-image.jpg" alt="{{ resort.name }}" />
    {% else %}
    <img src="{{ resort.image }}" alt="{{ resort.name }}" />
    {% endif %}
    <p>Location: {{ resort.location }}</p>
    {% comment %} <p>Price: ${{ resort.price }}</p>
    <p>Description: {{ resort.description }}</p {% endcomment %}
    <button class="favorite-button">Favorite</button>
  </li>
  {% endfor %}
</ul>
{% endblock %}
