h1 {
    font-size: 2.5em;
    color: var(--deep-teal);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

hr {
    border: 0;
    height: 2px;
    background-color: var(--warm-sand);
    width: 50%;
    margin: 1rem auto;
}

.page-content {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    font-size: 2em;
    color: var(--deep-teal);
    margin-bottom: 1rem;
}


form.login {
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    padding: 2rem !important;
    border-radius: 5px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    max-width: 400px !important;
    width: 100% !important;
    margin: 0 auto !important;
    color: var(--pure-white) !important;
}


form.login h1 {
    font-size: 1.5em;
    color: var(--deep-teal);
    text-align: center;
    margin-bottom: 1rem;
}

form.login p {
    margin-bottom: 1rem;
}

.btn.submit {
    background-color: var(--deep-teal);
    color: var(--pure-white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.btn.submit:hover {
    background-color: var(--muted-sage);
    color: var(--deep-teal);
}
